@charset "UTF-8";
.toolbar-item, .toolbar-item-layer {
  background: url(../img/toolbar.png) no-repeat; }

body, html {
  padding: 0;
  margin: 0;
  font-family: "微软雅黑"; }

.toolbar {
  position: fixed;
  right: 0;
  bottom: 5px; }
  .toolbar .toolbar-item {
    position: relative;
    display: block;
    width: 52px;
    height: 52px;
    margin-top: 1px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .toolbar .toolbar-item:hover .toolbar-item-layer {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .toolbar .toolbar-item-weixin {
    background-position: 0 -798px; }
    .toolbar .toolbar-item-weixin:hover {
      background-position: 0 -860px; }
    .toolbar .toolbar-item-weixin .toolbar-item-layer {
      height: 212px;
      background-position: 0 0; }
  .toolbar .toolbar-item-feedback {
    background-position: 0 -426px; }
    .toolbar .toolbar-item-feedback:hover {
      background-position: 0 -488px; }
  .toolbar .toolbar-item-app {
    background-position: 0 -550px; }
    .toolbar .toolbar-item-app:hover {
      background-position: 0 -612px; }
    .toolbar .toolbar-item-app .toolbar-item-layer {
      height: 194px;
      background-position: 0 -222px; }
  .toolbar .toolbar-item-top {
    background-position: 0 -674px; }
    .toolbar .toolbar-item-top:hover {
      background-position: 0 -736px; }

.toolbar-item-layer {
  position: absolute;
  right: 46px;
  bottom: -10px;
  width: 172px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -ms-transform-origin: 95% 95%;
  -o-transform-origin: 95% 95%;
  transform-origin: 95% 95%; }

@font-face {
  font-family: 'sell-icon';
  src: url("fonts/sell-icon.eot?efcloa");
  src: url("fonts/sell-icon.eot?efcloa#iefix") format("embedded-opentype"), url("fonts/sell-icon.ttf?efcloa") format("truetype"), url("fonts/sell-icon.woff?efcloa") format("woff"), url("fonts/sell-icon.svg?efcloa#sell-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], .toolbar2-btn, [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-app:before, .toolbar2-item-app .toolbar2-btn:before {
  content: "\e901"; }

.icon-top:before, .toolbar2-item-top .toolbar2-btn:before {
  content: "\e902"; }

.icon-feedback:before, .toolbar2-item-feedback .toolbar2-btn:before {
  content: "\e903"; }

.icon-wechat:before, .toolbar2-item-weixin .toolbar2-btn:before {
  content: "\e900"; }

.toolbar1-item, .toolbar1-btn, .toolbar1-icon, .toolbar1-text {
  width: 52px;
  height: 52px; }

.toolbar1-icon, .toolbar1-text {
  position: absolute;
  left: 0;
  color: #fff;
  text-align: center; }

.toolbar1 {
  position: fixed;
  bottom: 5px;
  left: 50%;
  margin-left: -26px; }

.toolbar1-item {
  position: relative;
  display: block;
  margin-top: 1px; }
  .toolbar1-item:hover .toolbar1-icon {
    top: -52px; }
  .toolbar1-item:hover .toolbar1-text {
    top: 0; }
  .toolbar1-item:hover .toolbar1-layer {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

.toolbar1-btn {
  position: absolute;
  overflow: hidden; }

.toolbar1-icon {
  top: 0;
  background: #d0d6d9;
  line-height: 52px;
  font-size: 30px; }

.toolbar1-text {
  top: 100%;
  background: #98a1a6;
  padding-top: 12px;
  font-size: 12px;
  line-height: 1.2; }

.toolbar1-layer {
  position: absolute;
  right: 46px;
  bottom: -10px;
  width: 172px;
  background: url(../img/toolbar_img.png) no-repeat;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -ms-transform: scale(0.01);
  -o-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transform-origin: 95% 95%;
  -moz-transform-origin: 95% 95%;
  -ms-transform-origin: 95% 95%;
  -o-transform-origin: 95% 95%;
  transform-origin: 95% 95%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.toolbar1-layer-weixin {
  height: 212px;
  background-position: 0 0; }

.toolbar1-layer-app {
  height: 194px;
  background-position: 0 -222px; }

.toolbar2 {
  position: fixed;
  bottom: 5px;
  left: 0; }

.toolbar2-item {
  position: relative;
  display: block;
  width: 52px;
  height: 52px;
  margin-top: 1px; }
  .toolbar2-item:hover .toolbar2-btn:before {
    top: -52px; }
  .toolbar2-item:hover .toolbar2-btn:after {
    top: 0; }
  .toolbar2-item:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .toolbar2-item:after {
    content: "";
    position: absolute;
    left: 46px;
    bottom: -10px;
    width: 172px;
    background: url(../img/toolbar_img.png) no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform-origin: 5% 95%;
    -moz-transform-origin: 5% 95%;
    -ms-transform-origin: 5% 95%;
    -o-transform-origin: 5% 95%;
    transform-origin: 5% 95%;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -o-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }

.toolbar2-item-weixin .toolbar2-btn:after {
  content: "公众\A账号"; }
.toolbar2-item-weixin:after {
  content: "";
  height: 212px;
  background-position: 0 0; }

.toolbar2-item-feedback .toolbar2-btn:after {
  content: "意见\A反馈"; }

.toolbar2-item-app .toolbar2-btn:after {
  content: "App\A下载"; }
.toolbar2-item-app:after {
  content: "";
  height: 194px;
  background-position: 0 -222px; }

.toolbar2-item-top .toolbar2-btn:after {
  content: "返回\A底部"; }

.toolbar2-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 52px;
  overflow: hidden; }
  .toolbar2-btn, .toolbar2-btn:before, .toolbar2-btn:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px; }
  .toolbar2-btn:before, .toolbar2-btn:after {
    content: "";
    color: #fff;
    text-align: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
  .toolbar2-btn:before {
    top: 0;
    background: #d0d6d9;
    font-size: 30px;
    line-height: 52px; }
  .toolbar2-btn:after {
    top: 52px;
    background: #98a1a6;
    font-size: 12px;
    line-height: 1.2;
    padding-top: 12px;
    white-space: pre; }

/*# sourceMappingURL=main.css.map */
